:root {
  --color-teal: #42c0c4;
  --color-dark: rgb(33, 33, 32);
  --color-dark-light: #282828;
  --color-white: #fff;
  --color-bg-overlay: rgba(33, 33, 32, 0.6); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  color: var(--color-white);
  min-height: 100vh; }

button {
  outline: none;
  border: 0; }

.heading1 {
  font-size: 4.2rem; }

.heading2 {
  font-size: 3.2rem;
  font-weight: 600; }

.heading3 {
  font-size: 2.4rem; }

.heading6 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 112rem; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2, .header__text-box p, .header__text-box--top {
  margin-bottom: 12px; }

.color-white {
  color: var(--color-white); }

.color-dark {
  color: var(--color-dark); }

.header,
.about,
.products {
  height: 100vh; }

.header {
  background: linear-gradient(var(--color-bg-overlay), var(--color-bg-overlay)), url(../assets/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  .header__logo {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 2rem;
    height: 5rem;
    transform: translateX(-50%); }
  .header__text-box {
    padding-top: 30%; }
    .header__text-box h6 {
      line-height: 30px; }
    .header__text-box--top {
      width: 45rem; }
    .header__text-box--bottom {
      width: 60rem; }

.about {
  position: relative;
  background: linear-gradient(var(--color-bg-overlay), var(--color-bg-overlay)), url(../assets/bg-about.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.products {
  background-image: url(../assets/bg-products.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.clients {
  background-color: green; }

.contact {
  height: 50vh;
  background-color: rgba(33, 33, 32, 0.9);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 5.6rem; }
  .contact__email {
    margin-top: 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.2rem; }
  @media only screen and (max-width: 56.25em) {
    .contact {
      margin: 0 auto;
      font-size: 2.5rem;
      line-height: 1.8rem; }
      .contact__email {
        font-size: 1.8rem; } }

.footer {
  background-color: var(--color-dark);
  display: flex;
  flex-wrap: wrap; }

.container {
  display: flex;
  font-size: 1.5rem;
  align-content: center; }
  @media only screen and (max-width: 68.75em) {
    .container {
      margin: 0 auto; } }

.col {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
  padding: 3rem; }
  .col__col-1 {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    margin-right: auto;
    align-items: center;
    margin-top: 3rem; }
    .col__col-1__paragraph {
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2rem; }
  .col__col-2 {
    display: flex;
    flex-direction: column;
    padding: 3rem; }
  .col__col-3 {
    justify-content: space-between;
    padding: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .col {
      font-size: 1rem; } }

.img {
  margin-bottom: 3rem;
  margin-left: -6rem; }
  @media only screen and (max-width: 68.75em) {
    .img {
      margin-left: 0; } }

.link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px; }
  .link:not(last-child) {
    margin-bottom: 3rem; }
  .link:hover {
    color: #42c0c4; }

.link-1 {
  margin-top: 1.5rem; }

.rede-sociais {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem; }
  .rede-sociais__box {
    height: 4.9rem;
    width: 4.9rem;
    border-radius: 100px; }

.terms {
  flex: 1 0 100%;
  background-color: var(--color-dark-light);
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center; }
  .terms__text {
    padding: 1.5rem;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .terms__text {
        font-size: 1rem; } }
    .terms__text-copy {
      flex: 1;
      margin-left: 3rem; }
      @media only screen and (max-width: 37.5em) {
        .terms__text-copy {
          font-size: 1rem; } }
    .terms__text-link {
      text-decoration: none;
      color: #fff;
      justify-content: center;
      padding: 1rem; }
  .terms__btn-footer {
    background-color: #42c0c4;
    width: 4.9rem;
    height: 4.9rem;
    border-radius: 3px;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .terms__btn-footer-botao {
      text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .terms {
      font-size: 1rem; } }

.barra {
  border-right: 1px solid #494949; }

.btn {
  cursor: pointer;
  border-radius: 12px;
  background-color: var(--color-white);
  padding: 12px 18px;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-teal);
  text-transform: uppercase;
  transition: all .3s ease-in; }
  .btn:hover {
    background-color: var(--color-teal);
    color: var(--color-white); }
