.terms {
  flex: 1 0 100%;
  background-color: var(--color-dark-light);
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;

  &__text {
    padding: 1.5rem;
    display: flex;
    @media only screen and(max-width:$bp-small) {
      font-size: 1rem;
    }

    &-copy {
      flex: 1;
      margin-left: 3rem;

      @media only screen and(max-width:$bp-small) {
        font-size: 1rem;
      }
    }

    &-link {
      text-decoration: none;
      color: #fff;
      justify-content: center;
      padding: 1rem;
    }
  }

  &__btn-footer {
    background-color: #42c0c4;
    width: 4.9rem;
    height: 4.9rem;
    border-radius: 3px;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &-botao {
      text-align: center;
    }
  }

  @media only screen and(max-width:$bp-small) {
    font-size: 1rem;
  }
}

.barra {
  border-right: 1px solid #494949;
}
